
$menu_height: 43px
$menu_zIndex: 5000

$moving_image_bg: url(images/nydd-big.png)
$moving_image_w: 200px
$moving_image_h: 71px
$moving_image_zIndex: 5100

$site_title_bg: url(images/nydd.png)
$site_title_w: $moving_image_w /* originally 96px */
$site_title_h: 34px
$site_title_padding_hor: 10px

